<div class="col-lg-6 col-sm-12">
  <h1 class="text-center">Enemy</h1>
  <table class="gameBoard">
    <tr ng-repeat="(xIndex, x) in enemyboard">
      <td class="field" ng-class="{'field1' : y===1, 'field2' : y===2, 'field3' : y===3}" ng-click="y === 1 ? y = 2 : y = 3; game.fieldShot($index, xIndex)" ng-repeat="y in x track by $index">{{xIndex + " " + $index}}</td>
    </tr>
  </table>
</div>
