<%= form_for(@game_new) do |f| %>
  <% if @game_new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_new.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game_new.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
