<div class="dragable" id="ichiShip"></div>
<div class="dragable" id="ichiShip">></div>
<div class="dragable" id="ichiShip">></div>
<div class="dragable" id="ichiShip">></div>

<div class="dragable" id="niShip">></div>
<div class="dragable" id="niShip"></div>
<div class="dragable" id="niShip"></div>

<div class="dragable" id="sanShip"></div>
<div class="dragable" id="sanShip"></div>

<div class="dragable" id="yonShip"></div>
