<div class="col-lg-6 col-sm-12">
  <h1 class="text-center">You</h1>
  <table class="gameBoard">
    <tr ng-repeat="x in game.userboard">
      <td class="field" ng-class="{field1:y===1}" ng-repeat="y in x track by $index">
        {{y}}
      </td>
    </tr>
  </table>
</div>
