<div class="container" ng-app="Lobby">


<% if hasGame %>
  <%= render 'form' %>
<% end %>

<h1>Listing Games</h1>

<table class="table table-hover" ng-controller="LobbyController as games">
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat"game in games">
      <td>{{game.user.email}}</td>
        <td></td>
        <td></td>
    </tr>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.user.email %></td>
        <% if game != current_user.game %>
          <td><%= link_to 'Join', game, method: :put %></td>
        <% else %>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</div>
