/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

#dragable, .field, .rotate, .rotated, button, a {
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
}
.gameBoard {
  width: 500px;
  height: 500px;
}

.field {
  border: solid 1px black;
}

#dragable {
  position: relative;
  background-color: black;
  color: white;
}

#dragable:hover {
  border: solid 2px #FF002D;
}

.rotate {
  border: solid 2px black;
  background-color: grey;
  position: absolute;
  top: -30px;
  left: 10px;
  width: 30px;
  height: 30px;
  display: none;
}

.rotated {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

#dragable:hover .rotate {
  display: block;
}

.ichiShip {
  width: 50px;
  height:50px;
}

.niShip {
  width: 100px;
  height:50px;
}

.sanShip {
  width: 150px;
  height:50px;
}

.yonShip {
  width: 200px;
  height:50px;
}
